.about {
  font-family: "Lato", sans-serif;
  margin: 15px;
  height: 375px;
  color: #EDF6F9;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__intro {
    font-size: 25px;
    font-weight: 700;
    padding: 5px 0;
  }

  &__tech {
      display: flex;
      justify-content: flex-end;
      font-size: 15px;
      font-weight: bolder;
      padding: 5px 0;
  }
}

.animation {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.toggle {
  display: flex;
  flex-direction: row;
  justify-content: center;
}